* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--step--1);
    width: 100%;
}

h1{
    font-size: var(--step-3);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray-900);
}

h2{
    color: var(--gray-800);
}

p{
    color: var(--gray-600);
    line-height: var(--line-large);
}

li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

a{
    color: var(--gray-900);
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: #EC9A3B;
}

.burger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--gray-900);
}

img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.heroImg{
    height: 35rem;
}


section{
    margin-bottom: var(--xlarge);
}

article{
    padding: var(--xlarge) 0;
    border-top: 1px solid var(--gray-400);
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(50ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);
  
    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
}

article > * {
    grid-column: content;
} 

.article_img_container{
    grid-column: popout;
    margin-bottom: var(--medium);
}

.article_text{
    grid-column: popout;
}

.article_text > *{
    margin-bottom: var(--medium);
    font-family: Arial, Helvetica, sans-serif;
}

.article_text a{
    color: var(--gray-700);
    text-decoration: underline;
}

@media(max-width:768px){
    .burger{
        display: block;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}